.hero {
  position: relative;
  height: 850px;
  background-color: var(--main-color);

  &__carousel {
    position: fixed;
    width: 100%;
    padding-top: 200px;
    text-align: center;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 200px;
      height: 200px;
      background-color: rgb(0 0 0 / 10%);
      left: 50%;
      top: 60%;
      margin: -100px;
      border-radius: 50%;
      z-index: -1;
    }
    &::after {
      transform: scale(2);
    }
  }

  &__normal {
    position: fixed;
    width: 100%;
    text-align: center;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 200px;
      height: 200px;
      background-color: rgb(0 0 0 / 10%);
      left: 50%;
      top: 60%;
      margin: -100px;
      border-radius: 50%;
      z-index: -1;
    }
    &::after {
      transform: scale(2);
    }
    &-titles {
      max-width: 650px;
      margin: 0 auto;
      h2 {
        display: inline;
        background-image: linear-gradient(transparent 98%, var(--secondary-color));
        background-repeat: no-repeat;
        background-size: 0% 100%;
        transition: all 0.7s;
        cursor: pointer;
      }

      h2:hover {
        background-size: 100% 100%;
      }
    }
  }
}
