.single-post {
  &__heading {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    max-width: 728px;
    margin: 0 auto;
    h1 {
      font-size: clamp(1.75em, 6vw, 3em);
      text-transform: uppercase;
      color: white;
    }
    .meta {
      color: #fff;

      span {
        font-family: "Libre Bodon";
        position: relative;
        display: inline-block;
        padding: 0 1em;
        &::before {
          content: "";
          position: absolute;
          top: 11px;
          left: -2px;
          width: 5px;
          height: 5px;
          background-color: var(--dark-color);
          border-radius: 50%;
          opacity: 0.35;
        }
      }
      a:hover {
        text-decoration: underline;
      }
    }
    .author {
      margin-top: 2em;
      color: #fff;
      img {
        width: 75px;
        border-radius: 50%;
        margin-bottom: 0.5em;
        box-shadow: var(--main-box-shadow);
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
  &__article {
    position: relative;
    padding-bottom: 75px;
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;

    figure {
      img {
        height: 400px;
        width: 100%;
        object-fit: cover;
        object-position: top;
      }
    }

    .separator {
      margin-top: 20px;
      font-style: italic;
      color: var(--secondary-color);
    }

    .tags {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 1em;
      .btn-tag {
        flex-basis: 125px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        padding: 0.5em;
        background-color: var(--light-color);
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        &:hover {
          background-color: var(--main-color);
          color: white;
        }
      }
    }
  }
}
