.page-footer {
  background-color: #f1f2f6;
  .container {
    text-align: center;
    color: var(--grey-color);
    .logo{
      color: var(--main-color)
    }
  }
  .copyright {
    font-size: 14px;
  }
}
