.profile {
  position: relative;
  display: flex;
  font-size: 80%;
  width: 100%;
  color: white;
  line-height: 1.8;
  padding: 5em 3em 2em;
  margin-bottom: 2em;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgb(0 0 0 / 10%);
    top: 60%;
    left: 50px;
    margin: -100px;
    border-radius: 50%;
    z-index: -1;
  }
  & img {
    width: 75px;
    height: 75px;
    margin-right: 1.5em;
    border-radius: 50%;
  }
}

@media screen and (min-width: 992px) {
  .profile {
    display: none;
  }
}
